.base {
  color:black;
  font-family:'Nunito',sans-serif ;
}
  

  
.search {
    width: 100%;
    position: relative;
    display: flex;
    right: 0px;
    padding: 10px 12px;

  }
  .icon {
    margin-top: 9px;
    position: absolute;
    z-index: 2;
    margin-left: 92%;
  }
  .searchTerm {
    font-family: 'Nunito', sans-serif;
    width: 120%;
    border: 1px solid black;
    padding: 9px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    border-radius: 20px;

  }
  
  .wrap{
    
    width: 60%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fa {
    color:blue;
   } 
   .logoutLblPos{

    position:fixed;
    left: 110%;
    bottom: 207%;

 }
.btn{

  color: white;
  margin-left: 44%;
    margin-top: 5%;
    font-family: 'Nunito', sans-serif;
    /* padding: 20px; */
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 22px;
    /* margin: 4px 2px; */
    border-radius: 8px;
    background-color:lightseagreen;
}



